<h1>Welcome....Let us know where y'at?</h1>


<p> Please provide us with your address or street corner, and we'll tell you how to hop on the nearest bus!</p>

<%= render 'form' %>

<%= link_to 'Back', locations_path %>
